.btn {
    border: none;
    color: #447e9b;
    text-decoration: none;
}

.btn:focus, .btn:hover {
    color: #036;
    outline:0;
}

.btn:focus {
    text-decoration: underline;
}

.enable-cards-section {
    display: none;
}

.enable-input-cards-section {
    display: none;
}

.enable-output-cards-section {
    display: none;
}

.enable-devices-section {
    display: none;
}

.adders {
    position: relative;
    left: 460px;
    bottom: 27px;
}

.removers {
    position: relative;
    left: 475px;
    bottom: 27px;
}

#center-name {
    position: relative;
    left: 30px;
}

.repeat-input-card {
    position: relative;
    left: 30px;
}

.repeat-output-card {
    position: relative;
    left: 30px;
}

.repeat-device {
    position: relative;
    left: 15px;
}

.selector-operation {
    position: relative;
    left: 10px;
    width: 65px;
}

input[type="number"] {
    width: 50px;
}

.selector-num-input-card {
    position: relative;
    left: 10px;
}

.selector-num-output-card {
    position: relative;
    left: 10px;
}

.selector-num-device {
    position: relative;
    left: 20px;
}

select {
    width: 130px;
}

#add-input-card-server {
    position: relative;
    bottom : 9px;
    left: 25px;
}

#add-output-card-server {
    position: relative;
    bottom : 9px;
    left: 25px;
}

#add-input-card-io {
    position: relative;
    top: 8px;
    right: 35px;
}

#add-output-card-io {
    position: relative;
    top: 8px;
    right: 35px;
}

#add-device-server {
    position: relative;
    bottom: 9px;
    left: 33px;
}

#add-device-client {
    position: relative;
    top: 8px;
    right: 28px;
}

#text-add-input-card-server {
    position: relative;
    bottom: 9px;
    left: 25px;
}

#text-add-output-card-server {
    position: relative;
    bottom: 9px;
    left: 25px;
}

#text-add-input-card-io {
    position: relative;
    top: 8px;
    right: 35px;
}

#text-add-output-card-io {
    position: relative;
    top: 8px;
    right: 35px;
}

#text-add-device-server {
    position: relative;
    bottom: 9px;
    left: 33px;
}

#text-add-device-client {
    position: relative;
    top: 8px;
    right: 28px;
}
