{% extends 'admin/base.html'%}
{% load static %}
{% load i18n static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "devs/configuration.js" %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "devs/configuration.css" %}">
{% endblock %}



{% block branding %}
    <div>
        <h1>XML Configurator</h1>
    </div>
{% endblock %}

{% block content_title %}
    <h1>Site configuration</h1>
{% endblock %}

{% block content %}
    <form id="form-data" action="submit/" method="POST">
        {% csrf_token %}
        <div id="content-main">
            <div class="app-centers module">
                <table>
                    <caption>
                        <a href="" class="section">CENTERS</a>
                    </caption>
                    <tbody>
                        <tr class="model-center">
                            <th scope="row">
                                <a href="">Centers</a>
                            </th>
                            <td>
                                <button type="button" id="add-center-btn" class="addlink btn" disabled="disabled">Add</button>
                            </td>
                            <td>
                                <button type="button" id="remove-center-btn" class="changelink btn" disabled="disabled">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="module">
                <div id="repeat-center-1" class="repeat-center">
                    <div id="center">
                        <table id="table-center">
                            <tbody id="body-center">
                                <tr id="row-center">
                                    <th scope="row">
                                        <a href="">Center name</a>
                                    </th>
                                    <td id="cell-center-name">
                                        <input type="text" name="center_name" id="center-name">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="table-cards">
                            <tbody id="body-cards">
                                <tr id="row-cards">
                                    <th scope="row">
                                        <a href="">Cards</a>
                                    </th>
                                    <td id="cell-cards">
                                        <input type="checkbox" class="tgl tgl-light enable-cards cb" id="cb1" name="cards" value="isCards">
                                        <label class="tgl-btn" for="cb1"></label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="enable-cards-section">
                            <table id="table-input-cards">
                                <tbody id="body-input-cards">
                                    <tr id="row-input-cards">
                                        <td>
                                        <th scope="row">
                                            <a href="">Input Cards</a>
                                        </th>
                                        <td id="cell-input-cards">
                                            <input type="checkbox" class="enable-input-cards" id="cbx1" name="input-cards" value="isCards">
                                            <label class="cbx" for="cbx1">
                                                <div class="flip">
                                                <div class="front"></div>
                                                    <div class="back">
                                                        <svg width="16" height="14" viewBox="0 0 16 14">
                                                            <path d="M2 8.5L6 12.5L14 1.5"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="enable-input-cards-section">
                                <div id="repeat-input-card-1" class="repeat-input-card">
                                    <br>
                                    <select class="selector-input-card" name="input_card[]">
                                        <option value="Please Select {exclude}" disabled="disabled">--Select--</option>
                                            {% for item in input_cards %}
                                                <option value="{{item.ArticleNo}}">{{item.ArticleNo}}</option>
                                            {% endfor %}
                                    </select>
                                    <input class="selector-num-input-card" type="number" name="input_card_quantity[]" value="1" min="1">
                                    <input type="checkbox" id="add-input-card-server" name="add_input_card_server" value="isServer" checked>
                                    <span id="text-add-input-card-server">Server</span>
                                    <input type="checkbox" id="add-input-card-io" name="add_input_card_io" value="isIO" checked>
                                    <span id="text-add-input-card-io">I/O</span>
                                </div>
                                <button type="button" id="add-input-card-btn" class="addlink btn adders">Add</button>
                                <button type="button" id="remove-input-card-btn" class="changelink btn removers" disabled="disabled">Remove</button>
                            </div>
                            <table id="table-output-cards">
                                <tbody id="body-output-cards">
                                    <tr id="row-output-cards">
                                        <td>
                                        <th scope="row">
                                            <a href="">Output Cards</a>
                                        </th>
                                        <td></td>
                                        <td id="cell-output-cards">
                                            <input type="checkbox" class="enable-output-cards" id="cbx2" name="output-cards" value="isCards">
                                            <label class="cbx" for="cbx2">
                                                <div class="flip">
                                                <div class="front"></div>
                                                    <div class="back">
                                                        <svg width="16" height="14" viewBox="0 0 16 14">
                                                            <path d="M2 8.5L6 12.5L14 1.5"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="enable-output-cards-section">
                                <div id="repeat-output-card-1" class="repeat-output-card">
                                    <br>
                                    <select class="selector-output-card" name="output_card[]">
                                        <option value="Please Select {exclude}" disabled="disabled">--Select--</option>
                                            {% for item in output_cards %}
                                                <option value="{{item.ArticleNo}}">{{item.ArticleNo}}</option>
                                            {% endfor %}
                                    </select>
                                    <input class="selector-num-output-card" type="number" name="output_card_quantity[]" value="1" min="1">
                                    <input type="checkbox" id="add-output-card-server" name="add_output_card_server" value="isServer" checked>
                                    <span id="text-add-output-card-server">Server</span>
                                    <input type="checkbox" id="add-output-card-io" name="add_output_card_io" value="isIO" checked>
                                    <span id="text-add-output-card-io">I/O</span>
                                </div>
                                <button type="button" id="add-output-card-btn" class="addlink btn adders">Add</button>
                                <button type="button" id="remove-output-card-btn" class="changelink btn removers" disabled="disabled">Remove</button>
                            </div>
                        </div>
                        <table id="table-devices">
                            <tbody id="body-devices">
                                <tr id="row-devices">
                                    <th scope="row">
                                        <a href="">Devices</a>
                                    </th>
                                    <td id="cell-devices">
                                        <input type="checkbox" class="tgl tgl-light enable-devices" id="cb2" name="devices" value="isDevices">
                                        <label class="tgl-btn" for="cb2"></label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="enable-devices-section">
                            <div id="repeat-device-1" class="repeat-device">
                                <br>
                                <select class="selector-device" name="device[]">
                                    <option value="Please Select {exclude}" disabled="disabled">--Select--</option>
                                    {% for item in devices %}
                                        <option value="{{item.Name}}">{{item.Name}}</option>
                                    {% endfor %}
                                </select>
                                <select class="selector-operation" name="operation[]">
                                    <option value="Please Select {exclude}" disabled="disabled">--Select--</option>
                                    <option value="DO">DO</option>
                                    <option value="SBO">SBO</option>
                                </select>
                                <input class="selector-num-device" type="number" name="device_quantity[]" value="1" min="1">
                                <!--<input type="checkbox" id="add-device-server" name="add_device_server" value="isServer" checked>-->
                                <input type="checkbox" id="add-device-server">
                                <label for="add-device-server" class="check">
                                    <svg width="18px" height="18px" viewBox="0 0 18 18">
                                        <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                        <polyline points="1 9 7 14 15 4"></polyline>
                                    </svg>
                                </label>
                                <span id="text-add-device-server">Server</span>
                                <input type="checkbox" id="add-device-client" name="add_device_client" value="isClient">
                                <span id="text-add-device-client">Client</span>
                            </div>
                            <button type="button" id="add-device-btn" class="addlink btn adders">Add</button>
                            <button type="button" id="remove-device-btn" class="changelink btn removers" disabled="disabled">Remove</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div id="content-related">
            <div class="module" id="device-configuration-module">
                <h1 id="device-configuration-title">
                    Device configuration
                </h1>
                <div id="device-list">
                </div>
            </div>
        </div>
        <input type="hidden" id="hidden-devices-num" name="devices_num" value="{{devices_num}}">
        <input type="hidden" id="hidden-input-cards-num" name="input_cards_num" value="{{input_cards_num}}">
        <input type="hidden" id="hidden-output-cards-num" name="output_cards_num" value="{{output_cards_num}}">
        <input type="hidden" id="hidden-request-data" name="request-data" value="">
        <input type="submit" id="generate" value="Generate" disabled>
    </form>

{% endblock %}